
  .round_label {
    border: 5px solid rgba(0, 0, 0, 0.655);
    width: 50%;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: rgba(240, 255, 255, 0.558);
  }
  .bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #2d611a 100%);
  #maxSpeedInput {
    width: 75%;
  }
  
  /* style="border: 1px solid black; width: 50% */
  